.login-screen-content {
  background-image: url('/styles/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.login-screen-content .ios-icons {
  font-size: 17px;
}
.login-screen-content .login-screen-title {
  max-width: 480px;
  margin: 40px auto;
  color: #C08E3D;
}
.login-screen-content .list-block .item-title.label {
  width: 15%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  color: #C08E3D !important;
}
.login-screen-content .thumbnail {
  background: transparent;
  text-align: center;
  padding: 0px 30px;
  margin-top: 35%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.login-screen-content .thumbnail img {
  width: 70%;
}
.login-screen-content form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 300px;
  margin: 0 auto 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.login-screen-content form .item-inner {
  background: #f2f2f2 !important;
}
.login-screen-content form .list-block .item-content {
  padding-left: 0px;
}
.login-screen-content form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-screen-content form a:active {
  background: #C08E3D !important;
}
.login-screen-content form .button {
  font-size: 17px;
  font-weight: bold;
  border: 2px solid #C08E3D;
  color: #fff;
}
.login-screen-content form .button.active {
  background: rgba(192, 142, 61, 0.8);
  color: #fff !important;
}
.login-screen-content form .button.active-state {
  color: #fff !important;
}
